body {
    background-image: url("src/чукасочка.png");
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}    
.header {
    position: relative;
    background-color: #f4f4f475;
    border-radius: 20px 20px 20px 20px;
    outline: 3px solid #000000; 
    color: #000000; 
    font-size: xx-large;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    bottom: 10;
    top: 10px;
}
.link {
    width: 250px;
    position: relative;    
    background-color: #f4f4f475;
    border-radius: 20px 20px 20px 20px;
    outline: 3px solid #000000; 
    color: #000000; 
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
}